<style>
       #titulo {
         font-size: 64px;
         color: orange;
         font-family: sans-serif;
        }
        li{
            background-color:green;
            font-style: italic;
            text-align: center;
        }
        body{
          font-size: 16px;
        }
        p{
          font-weight: 600;
          font-size: 3em;
          text-decoration: underline;
        }
        .fundo {
            background-color: black;
        }
        #amarelo{
         color: yellow;
        }
        #vermelho{
          color: red;
        }
        #marrom{
          color:brown
        }
    </style>